alembic==1.12.1
dynaconf==3.2.4
faiss-cpu==1.7.4
fastapi==0.104.1
google-api-python-client==2.107.0
google-auth-oauthlib==1.1.0
langchain==0.0.335
openai==1.2.3
passlib==1.7.4
PyGithub==1.59.1
pyowm==3.3.0
pypdf==3.17.0
python-dateutil==2.8.2
python-multipart==0.0.6
pytz==2023.3.post1
sqlalchemy-utils==0.41.1
talon==1.4.4
tiktoken==0.5.1
toml==0.10.2
unstructured==0.10.30
uvicorn==0.24.0.post1
websockets==12.0